<div class="keep-open btn-group" :class="{ open: show }" ref="root">
    <button type="button" class="btn btn-default dropdown-toggle" @click="show=!show">
        <i class="glyphicon glyphicon-th icon-th">
        </i>
        <span class="caret">
        </span>
    </button>
    <ul class="dropdown-menu" v-show="show" aria-labelledby="simple-dropdown">
        <li v-for="(col, index) in list">
            <label>
                <input type="checkbox" v-model="col.visible" @change="change(col, index)">
                {{ col.title }}
            </label>
        </li>
    </ul>
</div>