<div class="fixed-table-container">
    <div class="fixed-table-body">
        <table class="table table-striped table-hover table-bordered dataTable no-footer">
            <thead>
                <tr role="row">
                    <th class="bs-checkbox" v-if="!!config.checkbox" style="text-align: center; vertical-align: middle; width: 36px;">
                        <div class="th-inner">
                            <input type="checkbox" />
                        </div>
                    </th>
                    <th style="text-align: center;" v-for="col in columns" v-show="col.visible">
                        <column :column="col" :sort-name="sort_name" :is-desc="is_desc" @sort-change="sortChange"></column>
                        <div class="fht-cell">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody v-show="!loading">
                <tr v-for="(row, index) in rows" :class="rowClass(row, index)" @click="row_click(row, index)">
                    <td style="text-align: center;" class="bs-checkbox" v-if="!!config.checkbox">
                        <input type="checkbox" class="checkbox" />
                    </td>
                    <cell style="text-align: center;"
                          v-for="col in columns" v-show="col.visible"
                          :column="col" :row="row" :index="index"></cell>
                </tr>
                <tr class="no-records-found" v-if="items.length === 0">
                    <td colspan="999" class="text-center">没有找到匹配的记录</td>
                </tr>
            </tbody>
            <tbody v-if="loading">
                <tr>
                    <td colspan="999" class="text-center">正在加载数据 ... </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pager :page-no="pager.page_no"
           :page-size="pager.page_size"
           :total-result="total"
           @page-change="pageChange">
    </pager>
</div>